@use '@angular/material' as mat;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


html {
  color-scheme: light dark;
  @include mat.theme((
    color: mat.$cyan-palette, // Primärfarbe
    typography: Roboto,       // Schriftart
    density: 0                // Standard-Dichte
  ));
}

// Hintergrund und Textfarbe für den gesamten Body
body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

